<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.herokuapp.maintainenator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

    <uses-library
        android:name="com.google.android.maps" />

        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".DisplayCreateFormActivity"
            android:label="@string/title_activity_display_create_form"
            android:screenOrientation="portrait"
            android:exported="false" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FormActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:exported="false" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name=".MapViewActivity"
            android:label="@string/mapview"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReportActivity"
            android:label="@string/my_reports"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DetailReportActivity"
            android:label="@string/my_reports"
            android:screenOrientation="portrait">
        </activity>
        </application>
</manifest>